$colors-codes: default, gray, brown, orange, yellow, green, blue, purple, pink, red;

:root {
  --space: 4px;
  --radius: 8px;

  --primary-color-0: rgb(255, 171, 241);
  --primary-color-1: rgb(243, 88, 199);
  --secondary-color-0: rgb(218, 210, 255);
  --secondary-color-1: rgb(125, 106, 246);
  --surface-color: rgb(241, 241, 241);

  --text-color: var(--color-default);
  --disabled-color: #a09bb5;
  --link-color: var(--primary-color-1);

  --h1-color-0: var(--secondary-color-1);
  --h1-color-1: white;
  --h1-color-2: var(--primary-color-1);
  --h2-color: var(--color-default);
  --h3-color: var(--color-default);
  --h4-color: var(--color-default);

  /* notion colors */
  --color-default: #424242;
  --bg-default: #ededed;

  --color-gray: #707070;
  --bg-gray: #e8e8e8;

  --color-brown: #8e2600;
  --bg-brown: #f3d0c2;

  --color-orange: #c36e00;
  --bg-orange: #ffddb0;

  --color-yellow: #97651c;
  --bg-yellow: #ffe9ae;

  --color-green: #3d7a03;
  --bg-green: #c5f1a8;

  --color-blue: #2d60e4;
  --bg-blue: #c8e6ff;

  --color-purple: #6d2fe4;
  --bg-purple: #d9d8ff;

  --color-pink: #cc16ae;
  --bg-pink: #ffd4e6;

  --color-red: #930101;
  --bg-red: #ffcccc;
}

html,
body {
  min-height: 100%;
}

$bg-color-from: rgb(251, 250, 255);
$bg-color-to: #e9e4ff;

html {
  display: table;
  background: $bg-color-from;
}

body {
  margin: 0;
  background-image: linear-gradient(
                  to bottom,
                  $bg-color-from,
                  $bg-color-to
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}