.Banner {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: var(--space);

  padding: var(--space) calc(var(--space) * 2);
  margin: calc(var(--space) * 2);

  &:global(.warning) {
    color: var(--color-orange);
    background: var(--bg-orange);
    border: 1px solid var(--color-orange);
    box-shadow: var(--color-orange) calc(var(--space) / 2) calc(var(--space) / 2) 0px;
  }
  
  &:global(.error) {
    color: var(--color-red);
    background: var(--bg-red);
    border: 1px solid var(--color-red);
    box-shadow: var(--color-red) calc(var(--space) / 2) calc(var(--space) / 2) 0px;
  }
}

