@use "../../styles/theme" as theme;

$warning-color: map-get(theme.$colors, orange);
$error-color: map-get(theme.$colors, red);

.Banner {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: theme.$space;

  padding: theme.$space (theme.$space * 2);
  margin: theme.$space * 2;

  &:global(.warning) {
    color: map-get($warning-color, color);
    background: map-get($warning-color, background-color);
    border: 1px solid map-get($warning-color, color);
    box-shadow: map-get($warning-color, color) (theme.$space / 2) (theme.$space / 2) 0px;
  }


  &:global(.error) {
    color: map-get($error-color, color);
    background: map-get($error-color, background-color);
    border: 1px solid map-get($error-color, color);;
    box-shadow: map-get($error-color, color) (theme.$space / 2) (theme.$space / 2) 0px;
  }
}

