.spinner {
  --spinner-animation-duration: 1.4s;
  --spinner-animation-delay: 0.18s;
}

.size-xs {
  --spinner-size: 3px;
  --spinner-gap: 2px;
  --spinner-inverse-bounce-rate: 0.3;
}

.size-s {
  --spinner-size: 6px;
  --spinner-gap: 3px;
  --spinner-inverse-bounce-rate: 0.55;
}

.size-m {
  --spinner-size: 11px;
  --spinner-gap: 5px;
  --spinner-inverse-bounce-rate: 0.65;
}

.size-l {
  --spinner-size: 16px;
  --spinner-gap: 10px;
  --spinner-inverse-bounce-rate: 0.65;
}

.spinner {
  display: inline-flex;
  gap: var(--spinner-gap);
  text-align: center;
  width: calc(var(--spinner-size) * 3 + var(--spinner-gap) * 2);

  & > * {
    width: var(--spinner-size);
    height: var(--spinner-size);

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay var(--spinner-animation-duration) infinite ease-in-out both;
    animation: sk-bouncedelay var(--spinner-animation-duration) infinite ease-in-out both;
  }

  & > *:nth-child(1) {
    -webkit-animation-delay: calc(var(--spinner-animation-delay) * -2);
    animation-delay: calc(var(--spinner-animation-delay) * -2);
  }

  & > *:nth-child(2) {
    -webkit-animation-delay: calc(var(--spinner-animation-delay) * -1);
    animation-delay: calc(var(--spinner-animation-delay) * -1);
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(var(--spinner-inverse-bounce-rate));
    background-color: var(--bg-secondary);
  }
  40% {
    transform: scale(1.0);
    background-color: var(--color-secondary);
  }
}
