# Rename this file to `.env` and fill in your Notion credentials.

NODE_ENV=development

# Base url of the /api service. Leave it blank to route to the same url as the frontend.
# VITE_API_URL=https://api.gabiseabra.dev

# Base url of the production site for url rewrite.
VITE_SITE_URL=https://blog.gabiseabra.dev

# Main title of the site for SEO
VITE_SITE_TITLE=blog.gabiseabra.dev

# Secret token for accessing the Notion API. You can obtain this by
# creating an integration at https://www.notion.so/my-integrations.
NOTION_TOKEN=your-secret-token

# Database ID of the posts database in your Notion workspace. Copy the
# database's UUID from the URL and paste it here.
NOTION_BLOG_POSTS_DATABASE_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Routes JSON string (preferred over ROUTES_FILE)
# ROUTES_JSON="[]"
# Path to your routes.json file (see routes.example.json)
ROUTES_FILE="$(dirname "$PWD")/routes.json"

# Backend server port
PORT=3000
# Vite dev server port
VITE_PORT=3030

# Configure allowed CORS origin in the server
CORS_ORIGIN="${VITE_SITE_URL}"
