version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    env_file:
      - .env
    ports:
      - "3000:3000"
    restart: unless-stopped

  web:
    build:
      context: .
      dockerfile: web/Dockerfile
    env_file:
      - .env
    ports:
      - "3030:3030"
    depends_on:
      - api
    restart: unless-stopped