version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    env_file:
      - path: .env
        required: false
    environment:
      - NOTION_TOKEN
      - NOTION_DATABASE_ID
    ports:
      - "3000:3000"
    restart: unless-stopped

  web:
    build:
      context: .
      dockerfile: web/Dockerfile
    ports:
      - "3030:3030"
    depends_on:
      - api
    restart: unless-stopped