services:
  - type: web
    name: api
    runtime: docker
    rootDir: .
    dockerfilePath: api/Dockerfile
    plan: free
    envVars:
      - key: NODE_ENV
        value: production
      - key: NOTION_TOKEN
        sync: false
      - key: NOTION_DATABASE_ID
        sync: false

  - type: web
    name: web
    runtime: docker
    rootDir: .
    dockerfilePath: web/Dockerfile
    plan: free
    envVars:
      - key: API_URL
        fromService:
          type: web
          name: api
          envVarKey: RENDER_EXTERNAL_URL
