$colors-codes: default, gray, brown, orange, yellow, green, blue, purple, pink, red;

:root {
  --space: 4px;
  --radius: 8px;
  --primary-color: #ef6be4;

  /* notion colors */
  --color-default: #424242;
  --bg-default: #ededed;

  --color-gray: #707070;
  --bg-gray: #e8e8e8;

  --color-brown: #8e2600;
  --bg-brown: #f3d0c2;

  --color-orange: #c36e00;
  --bg-orange: #ffddb0;

  --color-yellow: #97651c;
  --bg-yellow: #ffe9ae;

  --color-green: #3d7a03;
  --bg-green: #c5f1a8;

  --color-blue: #2d60e4;
  --bg-blue: #c8e6ff;

  --color-purple: #6d2fe4;
  --bg-purple: #d9d8ff;

  --color-pink: #cc16ae;
  --bg-pink: #ffd4e6;

  --color-red: #930101;
  --bg-red: #ffcccc;
}