@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$space: 4px !default;
$radius: 6px !default;
$primary-color: #ef6be4;

// notion colors

$colors: (
        default: (
                color: #424242,
                background: transparent,
        ),
        gray: (
                color: #707070,
                background: #bababa,
        ),
        brown: (
                color: #501501,
                background: #e6bca0,
        ),
        orange: (
                color: #a54202,
                background: #ffdab5,
        ),
        yellow: (
                color: #97651c,
                background: #ffe9ae,
        ),
        green: (
                color: #608513,
                background: #beed98,
        ),
        blue: (
                color: #1c47b6,
                background: #9acdff,
        ),
        purple: (
                color: #37069a,
                background: #b9b7ff,
        ),
        pink: (
                color: #6c0053,
                background: #ffc1dd,
        ),
        red: (
                color: #930101,
                background: #ffcccc,
        ),
);
