@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$space: 4px !default;
$radius: 6px !default;
$text-color: rgb(39, 26, 87) !default;
$surface-color: rgb(228, 228, 228) !default;
$primary-color-0: rgb(194, 192, 202) !default;
$primary-color-1: rgb(39, 26, 87) !default;
$secondary-color-0: rgb(223 222 230) !default;
$secondary-color-1: rgb(39, 26, 87) !default;

// fonts

$font: 'Roboto', 'Arial', sans-serif !default;
$heading-font: 'Cormorant', 'Times New Roman', Times, serif !default;
$mono-font: 'Courier New', Courier, monospace !default;
$font-size: 16px !default;
$line-height: 1.345rem !default;
$letter-spacing: 0px !default;
$paragraph-spacing: .75em !default;
$indentation: 1em !default;

// notion colors

$colors: (
        default: (
                color: #424242,
                background: transparent,
        ),
        gray: (
                color: #707070,
                background: #bababa,
        ),
        brown: (
                color: #501501,
                background: #e6bca0,
        ),
        orange: (
                color: #a54202,
                background: #ffdab5,
        ),
        yellow: (
                color: #97651c,
                background: #ffe9ae,
        ),
        green: (
                color: #608513,
                background: #beed98,
        ),
        blue: (
                color: #1c47b6,
                background: #9acdff,
        ),
        purple: (
                color: #37069a,
                background: #b9b7ff,
        ),
        pink: (
                color: #6c0053,
                background: #ffc1dd,
        ),
        red: (
                color: #930101,
                background: #ffcccc,
        ),
);

