@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$space: 8px !default;
$text-color: rgb(39, 26, 87) !default;
$surface-color: rgb(228, 228, 228) !default;
$primary-color-0: rgb(194, 192, 202) !default;
$primary-color-1: rgb(39, 26, 87) !default;
$secondary-color-0: rgb(223 222 230) !default;
$secondary-color-1: rgb(39, 26, 87) !default;

$font: 'Roboto', 'Arial', sans-serif !default;
$heading-font: 'Cormorant', 'Times New Roman', Times, serif !default;
$mono-font: 'Courier New', Courier, monospace !default;
$font-size: 14px !default;
$line-height: 1.345rem !default;
$letter-spacing: 0px !default;
