$colors-codes: default, gray, brown, orange, yellow, green, blue, purple, pink, red;

:root {
  --space: 4px;
  --radius: 8px;
  --primary-color: #ef6be4;

  /* notion colors */
  --color-default: #424242;
  --bg-default: transparent;

  --color-gray: #707070;
  --bg-gray: #e8e8e8;

  --color-brown: #501501;
  --bg-brown: #e6bca0;

  --color-orange: #a54202;
  --bg-orange: #ffdab5;

  --color-yellow: #97651c;
  --bg-yellow: #ffe9ae;

  --color-green: #608513;
  --bg-green: #beed98;

  --color-blue: #1c47b6;
  --bg-blue: #9acdff;

  --color-purple: #37069a;
  --bg-purple: #b9b7ff;

  --color-pink: #6c0053;
  --bg-pink: #ffc1dd;

  --color-red: #930101;
  --bg-red: #ffcccc;
}