@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --font: 'Roboto', 'Arial', sans-serif;
  --heading-font: 'Crimson Pro', 'Times New Roman', Times, serif;
  --monospace-font: 'Courier New', Courier, monospace;

  --font-size: 16px;
  --line-height: 1.345rem;
  --letter-spacing: 0px;

  --paragraph-margin: 0.75em;
  --indentation: 1em;

  --text-color: rgb(39, 26, 87);
  --link-color: #c30996;

  --code-color: #9e0978;
  --code-bg-color: #ececec;
}

body {
  margin: 0;
  font-family: var(--font);
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  background-color: #fff;
  color: var(--text-color);
}

html, body, #root {
  height: 100%;
  width: 100%;
}

@mixin paragraph($indent: 0) {
  margin: var(--paragraph-margin) 0;
  padding: 0 calc(var(--indentation) * $indent);
}

p {
  @include paragraph
}

@mixin list {
  margin: var(--paragraph-margin) 0;
  padding: 0 var(--indentation);
}

ul, ol {
  @include list
}

@mixin divider {
  margin: var(--paragraph-margin) 0;
}

hr {
  @include divider
}

@mixin code {
  color: var(--code-color);
  background: var(--code-bg-color);
}

code {
  @include code
}

@mixin blockquote {
  @include paragraph(1);
  white-space: pre-wrap;
  border-left: var(--space) solid var(--text-color);
}

blockquote {
  @include blockquote
}

h1 {
  font-family: var(--heading-font);
  font-weight: normal;
  font-size: 2.65em;
}

h2 {
  font-family: var(--heading-font);
  font-weight: normal;
  font-size: 2em;
}

h3 {
  font-family: var(--heading-font);
  font-weight: normal;
  font-size: 1.5em;
}

h4 {
  font-family: var(--heading-font);
  font-size: 1.25em;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

