@forward "theme";

@use "theme" as theme;

body {
  margin: 0;
  font-family: theme.$font;
  line-height: theme.$line-height;
  letter-spacing: theme.$letter-spacing;
  background-color: #f7f7f7;
  color: #333;
}