@use "sass:color";

/**
 * @source https://stackoverflow.com/questions/61973473/sass-mixin-to-convert-a-hex-to-a-css-filter
 */
@mixin hex-to-filter($color: #000, $opacity: 1) {
  $r: calc(color.channel($color, "red", $space: rgb) / 255);
  $g: calc(color.channel($color, "green", $space: rgb) / 255);
  $b: calc(color.channel($color, "blue", $space: rgb) / 255);
  $a: $opacity;

  // grayscale fallback if SVG from data url is not supported
  $lightness: color.channel($color, "lightness", $space: hsl);
  filter: saturate(0%) brightness(0%) invert($lightness) opacity($opacity);

  // color filter
  $svg-filter-id: "recolor";
  filter: url('data:image/svg+xml;utf8,\
    <svg xmlns="http://www.w3.org/2000/svg">\
      <filter id="#{$svg-filter-id}" color-interpolation-filters="sRGB">\
        <feColorMatrix type="matrix" values="\
          0 0 0 0 #{$r}\
          0 0 0 0 #{$g}\
          0 0 0 0 #{$b}\
          0 0 0 #{$a} 0\
        "/>\
      </filter>\
    </svg>\
    ##{$svg-filter-id}');
}
