@use "../../styles/theme" as theme;

.Paragraph {
  margin: theme.$paragraph-spacing 0;
}

.BulletedList, .NumberedList {
  margin: theme.$paragraph-spacing 0;
  padding: 0 theme.$indentation;
}

.Indentation {
  padding: 0 theme.$indentation;
}

.Blockquote {
  // @todo
}

.Heading {
  font-font: theme.$heading-font;
}

.Divider {
  margin: theme.$space;
}
