@use "../../styles/typography" as typography;

.Italic {
  font-style: italic;
}

.Bold {
  font-weight: bold;
}

.Underline {
  text-decoration: underline;
}

.Strikethrough {
  text-decoration: line-through;
}

.Underline.Strikethrough {
  text-decoration: underline line-through;
}

.Code {
  @extend %code;
}

