@use "../../styles/theme" as theme;

.Badge {
  padding: 2px calc(var(--space) * 2);
  border-radius: var(--radius);
  font-size: 0.85em;

  @each $name, $_ in theme.$colors-codes {
    &:global(.#{"color-" + $name}) {
      color: var(#{"--color-" + $name});
      background-color: var(#{"--bg-" + $name});
    }
  }
}

