@use "../../styles/theme" as theme;

.DateLabel {
  display: inline-flex;
  color: grey;
  font-style: italic;
  gap: theme.$space;

  span {
    color: theme.$primary-color;
    font-weight: bold;
  }
}