$github-ribbon-size: 64px;
$github-icon-size: 21px;
$github-icon-margin: 8px;

.github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
}

.github-ribbon a {
  overflow: hidden;
  display: flex;
  justify-content: end;
  align-items: end;

  svg {
    z-index: 1;
    fill: var(--bg-secondary);
    margin: $github-icon-margin;
    width: $github-icon-size;
    height: $github-icon-size;
  }

  &:after {
    z-index: 0;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 $github-ribbon-size $github-ribbon-size 0;
    border-color: transparent var(--color-primary) transparent transparent;
    right: 0;
    top: 0;
    position: absolute;
  }
}
