@use "../../css/theme" as theme;
@use "../../css/mixins/text" as text;


.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: min(#{theme.$max-content-width}, 100vw);
  margin: auto;

  @media (max-width: #{theme.$max-content-width + theme.$min-content-padding * 2}) {
    margin: 0 theme.$min-content-padding;
    max-width: calc(100vw - #{theme.$min-content-padding * 2});
  }

  & > header {
    margin: var(--paragraph-margin) 0;
  }

  & > main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  & > footer {
    text-align: center;
    margin: var(--paragraph-margin) 0;

    a {
      color: var(--color-primary);
    }
  }
}


