@use "../../css/mixins/layout" as layout;

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: min(#{layout.$content-width}, 100vw);
  margin: auto;

  @include layout.fit-content {
    margin: 0 layout.$content-gutter;
    max-width: calc(100vw - #{layout.$content-gutter * 2});
  }

  & > header {
    margin: var(--paragraph-margin) 0;
  }

  & > main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  & > footer {
    text-align: center;
    margin: var(--paragraph-margin) 0;
    color: var(--color-disabled);

    a {
      color: var(--color-primary);
    }
  }
}


