.Root {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 800px;
  margin: auto;

  & > header {
    margin: var(--paragraph-margin) 0;
  }

  & > main {
    flex: 1;
  }

  & > footer {
    text-align: center;
  }
}