/*************************
 * base/reset
 *************************/
@use "../theme" as theme;

html {
  min-width: 21cm;
  min-height: 29.7cm;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: repeating-conic-gradient(#ccc 0% 25%, transparent 0% 50%) 50% / 20px 20px;
  background-attachment: fixed;
}

body {
  width: 21cm;
  height: 29.7cm;
  overflow: visible;
  margin: 0;
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  position: relative;
  background-color: white;
}

#main {
  z-index: 0;
}

@page {
  margin: 0;
}

@media print {
  html {
    background: theme.$primary-color-0;
  }
}
