/*************************
 * base/typography
 *************************/

@use "../mixins/text" as text;

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&text=blog&display=swap');


:root {
  --font: 'Source Sans', 'Arial', sans-serif;
  --heading-font: 'Crimson Pro', 'Times New Roman', Times, serif;
  --monospace-font: 'Source Code Pro', Courier, monospace;
  --cursive-font: "Lovers Quarrel", "Brush Script MT", "Apple Chancery", "Lucida Handwriting", cursive;

  --font-size: 16px;
  --line-height: 1.345rem;
  --letter-spacing: 0px;

  --paragraph-margin: 0.75em;
  --indentation: 1em;
}

body {
  margin: 0;
  font-family: var(--font);
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  background-color: #fff;
  color: var(--text-color);
}

html, body, #root {
  height: 100%;
  width: 100%;
}

p {
  @include text.paragraph
}

ul, ol {
  @include text.list
}

hr {
  @include text.divider
}

code {
  @include text.code
}

blockquote {
  @include text.blockquote
}

a {
  @include text.link
}

h1 {
  font-family: var(--heading-font);
  color: var(--h1-color);
  font-weight: normal;
  font-size: 2.25em;
}

h2 {
  font-family: var(--heading-font);
  color: var(--h2-color);
  font-weight: normal;
  font-size: 2em;
}

h3 {
  font-family: var(--heading-font);
  color: var(--h3-color);
  font-weight: normal;
  font-size: 1.5em;
}

h4 {
  font-family: var(--heading-font);
  color: var(--h4-color);
  font-size: 1.25em;
}

