@mixin shadow($distance: 1) {
  box-shadow: var(--color-shadow) 0 calc(1px * $distance) calc(3px * $distance);
}

@mixin border {
  border: 1px solid color-mix(in oklch, var(--color-shadow), white 45%);
}
