@use "../../../../css/mixins/color" as color;

.text-color {
  position: relative;
  container-type: size;
  text-align: center;
  user-select: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  .text-color--text {
    line-height: 1;
    pointer-events: none;
    // width: auto;
    // height: fit-content;
    // height: stretch;
    // padding: 10%;

    width: 80%;
    height: 80%;
    display: block;

    overflow: visible;

    path {
      pointer-events: fill;
    }
  }

  .text-color--text {
    position: relative;
    z-index: 1;

    fill: var(--color);
  }

  .text-color--bg {
    position: absolute;
    border-radius: calc(var(--radius) / 2);
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: 0;
    background: transparent;
  }

  &.background .text-color--bg {
    background: var(--bg);
  }

  &.clickable {
    cursor: pointer;

    &:hover > .text-color--bg {
      outline: 1.5px solid var(--color);
    }
  }
}

.bg-color-button {
  width: 1em;
  height: 1em;
  border-radius: calc(var(--radius) / 2);
  z-index: 2;

  @each $name, $_ in color.$colors-codes {
    &.#{"color-" + $name + "_background"} {
      background-color: var(#{"--bg-" + $name});

      &.active {
        outline: 1.5px solid var(#{"--color-" + $name});
      }
    }
  }
}

.color-swatch {
}

.color-swatch-palette {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: var(--space);
}

.color-swatch-button {
  font-size: 1px;
  background: var(--color);
  background: var(--bg, var(--color));
  color: var(--bg);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  overflow: clip;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &.active,
  &:hover {
    outline: 1.5px solid var(--color);
  }
}

@each $name, $_ in color.$colors-codes {
  .#{"color-" + $name} {
    --color: var(#{"--color-" + $name});
    @if ($name != "default") {
      --bg: var(#{"--bg-" + $name});
    }
  }
}
