.banner {
  --banner-color: var(--color-default);
  --banner-bg: var(--bg-default);

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: var(--space);

  padding: var(--space) calc(var(--space) * 2);
  margin: calc(var(--space) * 2);


  background: var(--banner-bg);
  border-radius: var(--radius);
  border: 1px solid var(--banner-color);
  box-shadow: var(--banner-color) calc(var(--space) / 2) calc(var(--space) / 2) 0px;
}

.icon {
  display: inline-flex;
}

.type-warning {
  --banner-color: var(--color-orange);
  --banner-bg: var(--color-orange);

  color: var(--banner-color);
}

.type-error {
  --banner-color: var(--color-red);
  --banner-bg: var(--bg-red);

  color: var(--banner-color);
}
