.resource-list {
  display: grid;
  overflow: hidden;
  margin: var(--space) 0 calc(var(--space) * 2) 0;
  padding: 0;
  list-style: none;
  gap: 0;
  border-radius: var(--radius);
  box-shadow: #00000040 0 1px 3px;

  & > * {
    border-bottom: 1px solid var(--color-divider);
    padding: 0;
    background: #ffffff40;

    &:hover {
      background: #ffffffb0;
    }
  }

  & > *:last-child {
    border-bottom: none;
  }

  &.clickable li {
    cursor: pointer;
  }
}
