@use "../../../css/mixins/shadow" as shadow;

.resource-list {
  display: grid;
  overflow: hidden;
  margin: var(--space) 0 calc(var(--space) * 2) 0;
  padding: 0;
  list-style: none;
  gap: 0;
  border-radius: var(--radius);
  @include shadow.shadow(1);

  & > * {
    border-bottom: 1px solid var(--color-divider);
    padding: 0;
    background: #ffffff40;

    &:hover {
      background: #ffffffb0;
    }
  }

  & > *:last-child {
    border-bottom: none;
  }

  &.clickable li {
    cursor: pointer;
  }
}

.list-empty {
  border-radius: var(--radius);
  padding: calc(var(--space) * 2);
  margin: var(--space) 0 calc(var(--space) * 2) 0;
  @include shadow.shadow(1);
}