@use "../../css/mixins/color" as color;

.badge {
  display: inline-flex;
  align-items: center;

  padding: 0 var(--space);
  border-radius: var(--radius);
  line-height: var(--line-height);
  font-size: var(--font-size-caption);
  font-family: var(--font-body);
  font-weight: normal;
}

@each $name, $_ in color.$colors-codes {
  .#{"color-" + $name} {
    color: var(#{"--color-" + $name});
    background-color: var(#{"--bg-" + $name});
  }
}

.size-xs {
  transform: scale(.85);
}

.size-m {
  transform: scale(1.1);
}

.size-l {
  transform: scale(1.25);
}

.status-empty,
.status-in-progress,
.status-complete {
  position: relative;
  padding-left: calc(var(--space) * 2 + 6px);

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: var(--space);
    top: 50%;
    margin-top: -3px;
    margin-right: var(--space);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    vertical-align: middle;
  }
}

.status-empty {
  &::before {
    border: 1px solid currentColor;
    background: transparent;
  }
}

.status-in-progress {
  &::before {
    border: 1px solid currentColor;
    background: linear-gradient(
        to right,
        currentColor 50%,
        transparent 50%
    );
  }
}

.status-complete {
  &::before {
    background: currentColor;
  }
}