@use "../../css/mixins/text" as text;
@use "../../css/theme" as theme;
@use "../../css/typography" as typography;

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.strikethrough {
  text-decoration: line-through;
}

.underline.strikethrough {
  text-decoration: underline line-through;
}

.code {
  @extend %code;
}

// Theme palette classes
@each $name, $_ in theme.$colors-codes {
  .#{"color-" + $name} {
    @if ($name == "default") {
      color: currentColor;
    } @else {
      color: var(#{"--color-" + $name});
    }
  }

  .#{"color-" + $name + "_background"} {
    color: var(#{"--color-" + $name});
    background-color: var(#{"--bg-" + $name});
  }
}

// Semantic colour aliases
@each $key in (primary, secondary, muted, disabled, link) {
  .#{"color-" + $key} {
    color: var(#{"--color-" + $key});
  }
}

// Sizes
@each $name, $size in (caption: "var(--font-size-caption)", body: "var(--font-size)") {
  .#{"size-" + $name} {
    font-size: #{$size};
  }
}

@for $level from 1 through 4 {
  .#{"size-h" + $level} {
    @include text.heading-size($level);
  }
}

// Indents
@for $i from 1 through 4 {
  .#{"indent-" + $i} {
    @include typography.indent($i);
  }
}