@use "../../css/theme" as theme;
@use "../../css/mixins/shadow" as shadow;

// Button reset
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space);

  padding: calc(var(--space) * 1.25) calc(var(--space) * 2);
  border: 1px solid transparent;
  background: transparent;

  font: var(--font-body);
  font-size: 0.9em;
  line-height: 1;

  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  transition: background-color 120ms ease,
  border-color 120ms ease,
  box-shadow 120ms ease,
  transform 80ms ease,
  opacity 120ms ease;

  &:focus-visible {
    outline: none;
  }
}

.variant-solid {
  color: var(--button-color);
  background: var(--button-bg);
  box-shadow: var(--button-border) 1px 2px 0px;
  border: 1px solid var(--button-border);
  border-radius: calc(var(--radius) * 1.25);

  &:hover:not(:disabled) {
    filter: var(--button-filter);
  }

  &:active:not(:disabled) {
    transform: translateY(1px);
    box-shadow: var(--button-border) 1px 1px 0px;
  }
}

.variant-plain {
  color: var(--button-color);
  background: transparent;
  border-color: transparent;
  text-decoration: underline;

  &:disabled {
    color: var(--color-disabled);
    text-decoration: none;
  }
}

.button:disabled {
  --button-color: var(--color-disabled);
  --button-bg: var(--bg-gray);

  cursor: not-allowed;
}

@each $name, $_ in theme.$colors-codes {
  @if $name != "default" {
    .#{"color-" + $name} {
      &.variant-solid {
        --button-color: color-mix(in oklch, var(#{"--bg-" + $name}), white 25%);
        --button-bg: var(#{"--color-" + $name});
        --button-border: color-mix(in srgb, var(#{"--color-" + $name}), black 35%);
        --button-filter: brightness(1.05);
      }

      &.variant-plain {
        --button-color: var(#{"--color-" + $name});
      }
    }
  }
}

.color-default {
  --button-color: var(--color-text);
  --button-bg: var(--bg-to);
  --button-border: color-mix(in oklch, var(--color-text), white 25%);
  --button-filter: brightness(1.015);
}