.dropdown-item {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--space);

  border: none;
  background: transparent;

  padding: var(--space);
  min-width: 120px;

  text-align: start;
  font-size: 0.85em;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &.active {
    &::before {
      position: absolute;
      display: block;
      content: " ";
      border-radius: 4px;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      box-shadow: inset 0 0 1px 2px currentColor;
      z-index: 1;
    }

    &:first-child::before {
      border-top-left-radius: var(--radius);
      border-top-right-radius: var(--radius);
    }

    &:last-child::before {
      border-bottom-left-radius: var(--radius);
      border-bottom-right-radius: var(--radius);
    }
  }
}
