.BlogPostList {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: calc(var(--space) * 2);

  & > * {
    border-bottom: 1px solid var(--color-muted);
  }

  & > *:last-child {
    border-bottom: none;
  }
}
