.BlogPost {
  header {
    display: grid;
    grid-template:
    "header header"
    "date   tags" / 1fr auto;
    gap: var(--space);
    margin-bottom: 1.5em;

    h1 {
      margin-bottom: .25em;
    }

    & > *:nth-child(1) {
      grid-area: header;
    }

    & > *:nth-child(2) {
      grid-area: date;
    }

    & > *:nth-child(3) {
      grid-area: tags;
      display: flex;
      gap: var(--space);
    }
  }
}