@use "../../css/mixins/shadow" as shadow;

.wrapper {
  position: relative;
  max-width: 100%;
  margin: var(--paragraph-margin) 0;
}

.code {
  max-width: 100%;
  overflow: auto;
  padding: calc(var(--space) * 4.5) calc(var(--space) * 3);
  border-radius: var(--radius);
  font-size: 0.8em;
  margin: 0;
}

.language {
  --lang-bg: var(--bg-gray);
  --lang-color: var(--color-text);

  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space);
  top: 0;
  right: 0;
  background: var(--lang-bg);
  color: var(--lang-color);
  font-size: 0.75em;
  padding: calc(var(--space) * 0.25) var(--space);
  border-top-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);

  @include shadow.shadow(0.5);

  button {
    color: var(--lang-color);
  }
}
