/***********************************************************************************************************************
 * [_typography.scss] Fonts & text element configurations
 **********************************************************************************************************************/
@use "mixins/text" as text;

/** Outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/** EB Garamond */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
/** Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
/** Lovers Quarrel */
@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');

:root {
  /* global text size & spacing variables */

  --font-size: 17px;
  --font-size-caption: 14px;
  --line-height: 1.5rem;
  --letter-spacing: 0px;
  --paragraph-margin: 0.75em;
  --indentation: 1em;

  --font-body: 'Outfit', 'Arial', sans-serif;
  --font-heading: "EB Garamond", 'Times New Roman', Times, serif;
  // A thiner serif header althernative
  // --font-heading: "Cormorant Garamond", 'Times New Roman', Times, serif;
  --font-monospace: "Source Code Pro", Courier, monospace;
  --font-cursive: "Lovers Quarrel", "Brush Script MT", "Apple Chancery", "Lucida Handwriting", cursive;

  /* more heading options */

  /** max heading font-size */
  --size-h1: 2.25em;
  /** min heading font-size */
  --size-h4: 1.25em;
  /** h4 font-weight */
  --weight-h4: 700;
  /** h1 font-weight */
  --weight-h1: 700;
  /** h4 font-family */
  --font-h4: var(--font-body);
  /** h2, h3 font-weight */
  --weight-heading: 800;

  /* divider options */

  --size-divider: 2px;
  --radius-divider: 1px;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--color-text);
}

p {
  margin: var(--paragraph-margin) 0;
}

ul, ol {
  margin: var(--paragraph-margin) 0;
  padding: 0 var(--indentation);
}

hr {
  box-shadow: none;
  text-shadow: none;
  border: none;
  height: var(--size-divider);
  border-radius: var(--radius-divider);
  background: var(--color-divider);
  width: calc(100% - var(--space) * 8);
  margin: var(--paragraph-margin) auto;
}

blockquote {
  @include text.indent(1);

  position: relative;
  margin: var(--paragraph-margin) 0;
  white-space: pre-wrap;

  &::after {
    position: absolute;
    display: block;
    content: ' ';
    left: 0;
    top: 0;
    height: 100%;
    width: calc(var(--size-divider) * 2);
    border-radius: calc(var(--radius-divider) * 2);
    background: var(--color-text);
  }
}

a {
  color: var(--color-link);
  text-decoration: underline;

  &:has(h1), &:has(h2), &:has(h3), &:has(h4) {
    text-decoration: none;
  }
}

h1 {
  @include text.heading-size(1);
  font-family: var(--font-h1, var(--font-heading));
  font-weight: var(--weight-h1, var(--weight-heading));
  line-height: 1em;
}

h2 {
  @include text.heading-size(2);
  font-family: var(--font-h2, var(--font-heading));
  font-weight: var(--weight-h2, var(--weight-heading));
  color: var(--color-heading);
  line-height: 1em;
}

h3 {
  @include text.heading-size(3);
  font-family: var(--font-h3, var(--font-heading));
  font-weight: var(--weight-h3, var(--weight-heading));
  color: var(--color-heading);
  line-height: 1em;
}

h4 {
  @include text.heading-size(4);
  font-family: var(--font-h4, var(--font-heading));
  font-weight: var(--weight-h4, var(--weight-heading));
  color: var(--color-heading);
  line-height: 1em;

  margin-block-start: 1em;
  margin-block-end: 1em;
}

::selection {
  background: var(--bg-highlight);
  color: var(--color-highlight);
  text-shadow: none;
}
